# Women in the Workplace: Data Analysis for Bangladesh (1995-2019)

## Table of Contents
1. **Project Overview**
   - 1.1 **Introduction**
     - 1.1.1 **Problem Statement**
     - 1.1.2 **Objectives**
2. **Importing Packages**
3. **Loading Data**
4. **Data Cleaning**
5. **Exploratory Data Analysis (EDA)**

## 1. Project Overview

### 1.1 Introduction
#### 1.1.1 Problem Statement:
This project aims to analyze the trends in female employment and factors affecting it in Bangladesh from 1995 to 2019.

#### 1.1.2 Objectives:
- Preprocess and clean the provided dataset
- Visualize trends in female employment
- Compare female employment to male employment
- Identify key factors influencing female employmentemployment

## 2. Importing Packages

In [77]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

print("Packages imported successfully.")

Packages imported successfully.

## 3. Loading Data

In [80]:
# Load the CSV file into a pandas DataFrame
df = pd.read_csv('MLR2.csv')

print("Data loaded successfully. Here are the first few rows:")
print(df.head())

Data loaded successfully. Here are the first few rows:
   Year  PerFemEmploy FertilityRate  Ratio_MaletoFemale  PerFemEmployers  \
0  1995         24.30          3.71               28.33              0.1
1  1996         24.57          3.59               28.72              0.1
2  1997         24.82          3.48               29.18              0.1
3  1998         25.11          3.37               29.67              0.1
4  1999         25.38          3.27               30.17              0.1

   Agriculture  Industry  Services  Wage&Salaried  ContrFamWorkers  \
0        84.79      7.66      7.56          18.03            66.80
1        82.28      7.46     10.27          18.38            66.39
2        81.19      7.57     11.24          18.74            65.95
3        80.28      7.77     11.95          19.11            65.53
4        79.52      8.12     12.36          19.50            65.01

   OwnAccount  Vulnerable
0       15.07       81.87
1       15.14       81.52
2       15.21       81.16
3       15.26       80.79
4       15.39       80.40

## 4. Data Cleaning

In [94]:
print("--- Data Cleaning ---")

# Display basic information about the dataset
print("\nDataset information:")
print(df.info())

# Check for missing values
print("\nMissing values:")
print(df.isnull().sum())

# Replace '-' with NaN in the FertilityRate column
df['FertilityRate'] = df['FertilityRate'].replace('-', pd.NA).astype(float)

print("\nAfter cleaning, here's the updated info:")
print(df.info())

# Display summary statistics
print("\nSummary statistics:")
print(df.describe())

print("\nData cleaning completed.")

--- Data Cleaning ---

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                25 non-null     int64
 1   PerFemEmploy        25 non-null     float64
 2   FertilityRate       23 non-null     float64
 3   Ratio_MaletoFemale  25 non-null     float64
 4   PerFemEmployers     25 non-null     float64
 5   Agriculture         25 non-null     float64
 6   Industry            25 non-null     float64
 7   Services            25 non-null     float64
 8   Wage&Salaried       25 non-null     float64
 9   ContrFamWorkers     25 non-null     float64
 10  OwnAccount          25 non-null     float64
 11  Vulnerable          25 non-null     float64
dtypes: float64(11), int64(1)
memory usage: 2.5 KB
None

Missing values:
Year                  0
PerFemEmploy          0
FertilityRate         2
Ratio_MaletoFemale    0
PerFemEmployers       0
Agriculture           0
Industry              0
Services              0
Wage&Salaried         0
ContrFamWorkers       0
OwnAccount            0
Vulnerable            0
dtype: int64

After cleaning, here's the updated info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                25 non-null     int64
 1   PerFemEmploy        25 non-null     float64
 2   FertilityRate       23 non-null     float64
 3   Ratio_MaletoFemale  25 non-null     float64
 4   PerFemEmployers     25 non-null     float64
 5   Agriculture         25 non-null     float64
 6   Industry            25 non-null     float64
 7   Services            25 non-null     float64
 8   Wage&Salaried       25 non-null     float64
 9   ContrFamWorkers     25 non-null     float64
 10  OwnAccount          25 non-null     float64
 11  Vulnerable          25 non-null     float64
dtypes: float64(11), int64(1)
memory usage: 2.5 KB
None

Summary statistics:
              Year  PerFemEmploy  FertilityRate  Ratio_MaletoFemale  \
count    25.000000     25.000000      23.000000           25.000000
mean   2007.000000     27.680800       2.711304           34.947600
std       7.359801      2.842613       0.526535            5.068672
min    1995.000000     24.300000       2.060000           28.330000
25%    2001.000000     25.780000       2.250000           31.020000
50%    2007.000000     26.560000       2.600000           33.500000
75%    2013.000000     28.990000       3.120000           38.490000
max    2019.000000     33.820000       3.710000           44.500000

       PerFemEmployers  Agriculture   Industry   Services  Wage&Salaried  \
count        25.000000    25.000000  25.000000  25.000000      25.000000
mean          0.196400    70.272400  12.018800  17.710400      21.965200
std           0.179325     7.795071   3.171068   4.709609       4.512734
min           0.090000    59.030000   7.460000   7.560000      16.560000
25%           0.100000    64.730000   9.010000  13.550000      19.110000
50%           0.120000    67.520000  12.620000  19.870000      20.810000
75%           0.160000    77.440000  14.420000  20.860000      22.780000
max           0.660000    84.790000  16.780000  24.270000      32.610000

       ContrFamWorkers  OwnAccount  Vulnerable
count         25.00000   25.000000   25.000000
mean          55.87240   21.968800   77.840400
std           12.38072    8.237512    4.674583
min           27.99000   15.070000   66.730000
25%           52.41000   15.520000   77.110000
50%           61.29000   17.480000   79.090000
75%           64.07000   26.470000   80.790000
max           66.80000   38.740000   83.270000

Data cleaning completed.

## 5. Exploratory Data Analysis (EDA)